doctype html
html
  head
    include @/@loadingio/bootstrap.ext/dist/index.pug
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/@xlfont/choose/main/index.min.css")
    +css("assets/lib/ldcover/main/index.min.css")
  body
    include @/@xlfont/choose/dist/index.pug
    h1 hello
    .btn.btn-primary(ld="show") show
    .ldcv.default-size: .base: .inner: +xfc
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/@xlfont/load/main/xfl.min.js")
    +script("assets/lib/@xlfont/choose/main/index.min.js")
    +script("assets/lib/ldcover/main/index.min.js")
    +script("assets/lib/proxise/main/proxise.min.js")
    script: include:lsc index.ls
